<form class="d-flex" action="/histogram" method="POST" style="align-items: center;">
    <div class="input-group">
        <span class="input-group-text">X</span>
        <input type="text" class="form-control" placeholder="Chiều dài X" name="X">
    </div>
    <div class="input-group">
        <span class="input-group-text">Y</span>
        <input type="text" class="form-control" placeholder="Chiều dài Y" name="Y">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="newlevelCheck">
        <label class="form-check-label text-white" for="flexCheckDefault">
            Có New level?
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Sinh Ma Trận</button>
</form>
<form action="/histogram/ket-qua" class="mt-4" method="POST">
    <input type="text" value="{{{X}}}" name="X" style="display: none;">
    {{{htmls}}}
</form>